@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button {
  align-self: center;
  margin-top: 30px;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px;
  font-size: 20px;
  font-weight: 'bold';
  background-color: #48dbfb;
  color: white;
}
